body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(12, 30px);
  grid-template-rows: repeat(12, 30px);
  gap: 2px;
  margin: 20px auto;
  width: max-content;
  background: #222;
  border: 3px solid #555;
  padding: 5px;
}

.celda {
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 4px;
}

.snake {
  background: limegreen;
}

.comida {
  background: red;
}

.trampa {
  background: orange;
}

.info, .top {
  margin: 10px;
}
